.vscode/
.cursor/
.history/
*.code-workspace

.idea/
*.iml
*.iws
*.ipr
out/

.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.bak

.env
.env.local
.env.*.local
*.pem
*.key
auth.json
.netrc

node_modules/
bower_components/
dist/
build/
bin/
obj/
target/
*.exe
*.dll
*.so
*.dylib

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
.stylelintcache

.serverless/
.terraform/
.cache/
.sass-cache/